doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title 长沙离婚律师网欢迎您
    link(rel='shortcut icon', type='image/png', href='/images/favicon.jpg')
    link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
    script(src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js")
    link(rel='canonical', href='http://lawrencewu.me/jarvis/', itemprop='url')
    meta(name="keyword", content="长沙律师，离婚律师")
    meta(name="keyword", content="纠纷，官司，婚姻纠纷")
    meta(name="keyword", content="离婚咨询，离婚诉讼")
  body
    .container
      .content
        h1
          | 咨询
          strong 蒋律师
          span(style='font-size: 80%; color: gray;') 解决您的离婚纠纷
        .bottom
          .download
            a.button(href='/more') 了解更多
            p#served.mockuuups

            p.mockuuups
              | 添加QQ
              a(href='/') 996125871
              |  或者电话
              a(href='/') 13875808193

            p 以及扫描屏幕右侧二维码与蒋律师取得联系
      .hand
        img.phone(width='542', height='704', src='images/hand.jpg')
        .screens
          img(width='246', height='437', src='images/screen_1.png')
          img(width='246', height='437', src='images/screen_2.png')
